<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
  <h2>Registration</h2>
  <form method="post">
      {% csrf_token %}
        </p>
          <label for="phone_number">Phone number:</label>
          <input type="text" id="phone_number" name="phone_number" required>
        </p>
        </p>
          <label for="first_name">User name:</label>
          <input type="text" id="first_name" name="first_name" required>
        </p>
        </p>
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" required>
        </p>
        {% if errors %}
            <div class="errors">
                <ul>
                    {% for field, error_list in errors.items %}
                    <li>{{ field }}: {% for error in error_list %} {{ error }} {% endfor %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit">Registration</button>
  </form>
</body>
</html>