{% extends 'base.html' %}
{% load static %}

{% block title %}Live Crypto Trades{% endblock %}

{% block content %}
    <h2>Live Crypto Trades</h2>

    <label for="crypto">Please choose a cryptocurrency:</label>

    <select id="crypto">
        <option value="btcusdt">BTC/USDT</option>
        <option value="ethusdt">ETH/USDT</option>
        <option value="bnbusdt">BNB/USDT</option>
    </select>

    <button type="button" id="connect-btn" onclick="connectWebSocket()">Connect</button>

    <ul id="trade-list" class="trade-list"></ul>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/ws_trades_v2.js' %}"></script>
{% endblock %}